
  <div class="site-section bg-light">
    <div class="container">
       <div class="row mb-5 ">
        <div class="col-md-7 section-title text-center mx-auto">
          <span class="sub-title mb-2 d-block">Testimonials</span>
          <h2 class="title text-primary mb-3">Our Client Sayings</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mb-4">
          <blockquote class="blockquote">
            <p>Nice Looking Website Of Ours. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam excepturi quod dolore commodi.</p>
            <p  class="mb-0 d-flex align-items-center">
              <img class="img-fluid mr-3" src="../assets/images/person_1.jpg" alt="Image">
              <cite>&mdash; John Doe</cite>
            </p>
          </blockquote>
        </div>
        <div class="col-lg-6 mb-4">
          <blockquote class="blockquote">
            <p>Nice Looking Website Of Ours. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam excepturi quod dolore commodi.</p>
            <p class="mb-0 d-flex align-items-center">
              <img class="img-fluid mr-3" src="../assets/images/person_2.jpg" alt="Image">
              <cite>&mdash; John Doe</cite>
            </p>
          </blockquote>
        </div>
        
        <div class="col-lg-6 mb-4">
          <blockquote class="blockquote">
            <p>Nice Looking Website Of Ours. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam excepturi quod
              dolore commodi.</p>
            <p class="mb-0 d-flex align-items-center">
              <img class="img-fluid mr-3" src="../assets/images/person_1.jpg" alt="Image">
              <cite>&mdash; John Doe</cite>
            </p>
          </blockquote>
        </div>
        <div class="col-lg-6 mb-4">
          <blockquote class="blockquote">
            <p>Nice Looking Website Of Ours. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam excepturi quod
              dolore commodi.</p>
            <p class="mb-0 d-flex align-items-center">
              <img class="img-fluid mr-3" src="../assets/images/person_2.jpg" alt="Image">
              <cite>&mdash; John Doe</cite>
            </p>
          </blockquote>
        </div>
        
      </div>
    </div>
  </div>